.overall_settings {
  display: flex;
  justify-content: center;
}

.title {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.div_selection {
  padding: 5rem;
}
