<div>
  <form class="diary-form">
    <mat-form-field class="diary-full-width">
      <mat-label>Message</mat-label>

      <textarea
        matInput
        #message
        [(ngModel)]="diaryEntry"
        name="diaryEntry"
        maxlength="256"
        placeholder="Write your diary"
      ></textarea>
      <mat-hint align="start"><strong>Tell me how you feel</strong></mat-hint>
      <mat-hint align="end">{{ diaryEntry.length }} / 256</mat-hint>
    </mat-form-field>
  </form>
</div>
<button mat-button type="button" (click)="openDialog()">😀</button>
