<div>
  <div class="save">
  <button mat-button type="button" (click)="openDialog()">😀</button>
  
  <button mat-button type =" button" (click) ="saveDiaryEntry()">save</button>
  <button (click)="startRecording()"><mat-icon>mic</mat-icon></button>
      
</div>
  <form class="diary-form ">
    <mat-form-field class="diary-full-width">
      <mat-label>tell me how you feel</mat-label>

      <textarea
        matInput
        #message
        [(ngModel)]="diaryEntry"
        name="diaryEntry"
        maxlength="256"
        placeholder=""
      ></textarea>
      <mat-hint align="start"><strong></strong></mat-hint>
      <mat-hint align="end">{{ diaryEntry.length }} / 256</mat-hint>
    </mat-form-field>
  </form>
</div>

