<div class="aiField">
  <div class="title mat-sys-headline-small">
    <!-- <img
      ngSrc="/images/therapist_image.jpeg"
      alt="Image Unavailable"
      [width]="width"
      [height]="height"
      priority
    /> -->
    <div
      style="
        margin-top: 10px;
        margin-bottom: 100px;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
      "
    >
      Therapist
    </div>
  </div>
  <div>
    <diary-ai-display></diary-ai-display>
  </div>
</div>
