.chat-container {
  height: 500px;
}

.chat-window {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.chat-messages {
  padding: 5px;
}

.message {
  margin: 10px 0;
}

.user-message {
  text-align: right;
}

.bot-message {
  text-align: left;
}

.my-button {
  margin-left: 2.5rem;
}

/// Button

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .chat-input {
    width: 100%;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .chat-input {
    width: 80%;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .chat-input {
    width: 60%;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: center;
  }
}

.my-form-field {
  display: flex;
  justify-content: center;
}
.my-button-field {
  display: flex;
  justify-content: center;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes content to the bottom */
}
.bottom-form {
  padding: 15px;
  border-top: 1px solid #ccc;
}

.mic {
  display: flex;
  justify-content: center;
}
