<div class="divider">
  <mat-list>
    @for (item of todo_stored; track $index) {

    <mat-list-item
      ><span style="color: black">{{ item }}</span></mat-list-item
    >
    <mat-divider></mat-divider>
    }
  </mat-list>
</div>

<div class="formGoal">
  <form [formGroup]="goalForm">
    <mat-form-field class="goalform">
      <mat-label>Enter your Goal</mat-label>
      <input matInput formControlName="goal" placeholder="Enter your goal" />
      <mat-error *ngIf="goalForm.controls['goal']?.hasError('required')">
        goal is required
      </mat-error>
    </mat-form-field>
    <div class="my-button">
      <button mat-button type="button" color="primary" (click)="clear()">
        clear
      </button>
      <button
        mat-flat-button
        color="primary"
        class="goalbutton"
        type="submit"
        (click)="onSubmit()"
      >
        add Goal
      </button>
    </div>
  </form>
</div>
