.goalform {
  width: 100%;
}

.my-button {
  display: flex;
  justify-content: space-between;
}

// phone
@media (max-width: 768px) {
  .goalform {
    width: 100%;
  }
  .formGoal {
    margin-top: 4rem;
    width: 100%;
    // margin-left: 2rem;
  }
}

// tablet
@media (min-width: 768px) {
  .goalform {
    width: 100%;
  }
  .formGoal {
    margin-top: 4rem;
    // width: 400px;
    margin-left: 2rem;
    margin-right: 4rem;
  }
  .divider {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

// large screen
@media (min-width: 1024px) {
  .goalform {
    width: 100%;
  }
  .formGoal {
    margin-top: 4rem;
    width: 90%;
  }
  .divider {
    margin-left: 5rem;
    margin-right: 10rem;
  }
}

.clear-btn {
  display: flex;
  text-align: right;
}
