.logOut {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.overall_settings {
  display: flex;
  justify-content: center;
}

.title {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.data {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.div_selection {
  padding: 5rem;
}
